<footer class="container footer text-center p-4 text-primary border-top mt-5">
<div class="row justify-content-start">
    {{ range .Site.Menus.footer }}
    <div class="col-12 col-md-3 mb-3 mt-3">
        <p class="mb-2 text-start fs-6 text-dark fw-bolder">{{ .Name }}</p>
        {{ if .HasChildren }}
        <ul class="list-unstyled text-start fs-6 text-dark">
            {{ range .Children }}
            <li class="mb-2">
                <a href="{{ .URL }}" class="link-opacity-75 link-opacity-100-hover">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    {{ end }}
</div>

<div class="d-flex flex-column flex-sm-row justify-content-between text-dark py-4 my-4 border-top">
    <p class="fs-6 opacity-75">{{ replace site.Copyright "{year}" now.Year }}</p>
    <ul class="list-unstyled d-flex">
    {{ range site.Params.social }}
        <li class="ms-3">
        <a href="{{ .url }}">
            <img src="/icons/{{ .icon }}.svg" alt="{{ .identifier }}" width="24" height="24">
        </a>
        </li>
    {{ end }}
    </ul>
</div>
{{ if .Params.hasMermaid }}
    {{ partial "footer/optional-scripts.html" . }}
{{ end }}
</footer>