<footer class="container footer text-center p-4">
    <div class="row">
        {{ range site.Menus.footer }}
        <div class="col-12 col-md-3 mb-3 d-none d-lg-block">
            <h5 class="mb-4">{{- .Name -}}</h5>
            <ul class="nav flex-column">
                {{ range .Children }}
                <li class="nav-item mb-2">
                    <a href="{{ .URL }}" class="nav-link p-0 link-light text-muted">{{- .Name -}}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top ">
        <p>{{ replace site.Copyright "{year}" now.Year }}</p>
        <ul class="list-unstyled d-flex">
            {{range site.Params.social }}
            <li class="ms-3">
                <a href="{{- .url -}}">
                    <img src="/icons/{{ .icon }}.svg" alt="{{- .identifier -}}" width="24"
                        height="24">
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</footer>
