{{ define "main" }}

{{ if site.Params.banner.enabled }}
{{ partial site.Params.banner.partial . }}
{{ end }}

<div class="container">
    <div class="row g-5">
        <div class="col-xl-4 order-xl-5 my-5 text-center">
            {{ if site.Params.eventbar.enabled }}
                {{ partial "bouncmpe/eventbar.html" . }}
            {{ end }}
        </div>
        <div class="col-xl-8 my-5">
            {{ if site.Params.newsroom.enabled }}
                {{ partial "bouncmpe/newsroom.html" . }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}
