{{ $events := where site.RegularPages.ByExpiryDate "Section" "events" }}
{{ if $events }}
<section id="eventbar">
    <h1 class="display-6 my-4">{{ i18n "upcoming-events" | title }}</h1>
    <div class="row row-cols-1 g-4 mb-4">
        {{ range (first 6 $events) }}
            {{ partial "bouncmpe/eventbar-card.html" . }}
        {{end}}
    </div>
    <div class="row">
        <div class="card rounded-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="/admin" class="stretched-link">
                    <img src="/icons/plus-circle.svg" alt="">
                </a>
              </li>
            </ul>
        </div>
    </div>
</section>
{{ end }}
