{{ $event_title := .Params.title }}
{{ $event_description := .Params.description }}
{{ $event_location := .Params.location | default "Unspecified" }}

{{ $event_start_time_string := printf "%sT%s:00" (.ExpiryDate.Format "2006-01-02") ( .Params.startTime )}}
{{ $event_start_time := time $event_start_time_string }}

{{ $event_finish_time_string := printf "%sT%s:00" (.ExpiryDate.Format "2006-01-02") ( .Params.finishTime )}}
{{ $event_finish_time := time $event_finish_time_string }}

{{ $google_start_time_string := $event_start_time.Format "20060102T150405"}}
{{ $google_finish_time_string := $event_finish_time.Format "20060102T150405"}}

<div class="card h-100 rounded-5 m-0 border-0">
    {{/*
        Strecthed link applies to the card body due to a dummy transform property has set.
        See https://getbootstrap.com/docs/5.2/helpers/stretched-link/#identifying-the-containing-block
    */}}
    <div class="card-body" style="transform: rotate(0);">
        <a href="{{ .RelPermalink }}" class="stretched-link"></a>
        <small>{{- i18n .Type | upper -}}</small>
        <h3 class="card-title my-1">{{- .Params.speaker -}}</h3>
        <h6 class="card-subtitle my-2">{{ title .Title }}</h6>
        {{ .ExpiryDate | time.Format ":date_full" }}
    </div>
    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ i18n .Type | title }}: {{ .Params.speaker }}&dates={{ $google_start_time_string }}/{{ $google_finish_time_string }}&details={{$event_title}}&location={{$event_location}}&trp=false&sprop=&sprop=name:"
        class="card-link text-end" target="_blank" rel="nofollow"><small>{{ i18n "add-calendar" | title }}</small></a>
</div>
