# Required front-matter
title: "{{ title }}"
date: "{{ date }}"
time: "{{ time }}"
{% if thumbnail %}thumbnail: "{{ thumbnail }}"{% endif %}
{% block front_matter %}{% endblock %}
---

{% block content %}{% endblock %}
