---
type: {{ type }}
title: {{ title }}
{% if name %}
name: {{ name }}
{% endif %}
{% if datetime %}
datetime: {{ datetime }}
{% endif %}
{% if duration %}
duration: {{ duration }}
{% endif %}
{% if location %}
location: {{ location }}
{% endif %}
---
