{% extends "_frontmatter.md.j2" %}

{% block extra_fields %}
{% if datetime %}datetime: {{ datetime }}{% endif %}
{% if duration %}duration: {{ duration }}{% endif %}
{% if location %}location: {{ location }}{% endif %}
{% if speaker  %}name: {{ speaker }}{% endif %}
{% endblock %}

{% block content %}
{{ description }}
{% endblock %}
