---
{% if type %}type: {{ type }}{% endif %}
{% if title %}title: {{ title }}{% endif %}
{% if date %}date: {{ date }}{% endif %}
{% if time %}time: {{ time }}{% endif %}
{% if thumbnail %}thumbnail: {{ thumbnail }}{% endif %}
{% block extra_fields %}{% endblock %}
---

{% block content %}{% endblock %}
