---
type: {{ type }}
title: {{ title }}
date: {{ date }}
{% block extra_fields %}{% endblock %}
thumbnail: {{ thumbnail | default('') }}
description: {{ description | default('') }}
featured: false
---
