# File: templates/news.md.j2
---
type: "{{ type }}"
title: "{{ title }}"
description: |
  {{ description | replace("\n", "\n  ") }}
featured: {{ featured | lower }}
date: "{{ date }}"
thumbnail: "{{ thumbnail }}"
---

{% if thumbnail %}!['{{ title }}']({{ thumbnail }}){% endif %}

{{ content }}
