{{ $ctx := newScratch }}

{{ $tag := .Get "tag" }}
{{ $columns := .Get "cols" | default "2" }}

{{ $ctx.Set "tag" $tag }}
{{ $ctx.Set "members" slice }}
{{ range $key, $value := site.Data.bouncmpe.people }}
{{if intersect $value.tags (slice $tag) }}
{{ $ctx.Set "members" ($ctx.Get "members" | append $value) }}
{{ end }}
{{ end }}
{{ $members := $ctx.Get "members" }}

<div class="row row-cols-1 row-cols-lg-{{ $columns }} g-2 my-4">
{{ range $members }}
<div class="col">
    {{ $thumbnail := .thumbnail | default "images/person.png" }}
    {{ $image_settings := site.Params.people.image_settings | default "500x500 webp q90 smart" }}

    {{ $image_resource := resources.Get $thumbnail }}

    {{ if $image_resource }}
    {{ $retouched := $image_resource.Fill $image_settings }}
    {{ $thumbnail = $retouched.RelPermalink }}
    {{ end }}
    <div class="card mb-3 border-0 h-100" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4 mb-0">
            <img src="{{ $thumbnail }}" alt="{{ .name | anchorize }}" class="img-fluid rounded-5 shadow">
          </div>
          <div class="col-8 align-middle">
            <div class="card-body align-middle">
              <h4 class="mt-2" style="overflow-x: scroll; white-space: nowrap;">{{ .name | title }}</h4>
              {{ with .position }}
              <p class="mb-1">
                {{ . | i18n | title }}
              </p>
              {{ end }}

              {{ with .tagline }}
              <p class="mb-0 lead">
                {{ . | title }}
              </p>
              {{ end }}
              <p class="text-secondary d-none d-lg-block" style="overflow-x: scroll; white-space: nowrap;">
              {{ with .email }}
                <small class="text-muted">
                  {{ . | lower }}
                </small>
              {{ end }}
              </p>
            </div>
          </div>
        </div>
      </div>
</div>
{{ end }}
</div>
