{% extends "_base.md.j2" %}

{% block front_matter -%}
type: phd-thesis-defense
title: {{ title }}
name: {{ name }}
datetime: {{ datetime }}
duration: {{ duration }}
location: {{ location }}
---
{%- endblock %}
